@using Shared;
@using FrontEnd.Blazor.Helpers;
@using FrontEnd.Blazor.Services;

<div class="login">
    <div>
        <h1 style="text-align: center; color: #1b6ec2">Tasks Management</h1>
        <svg viewBox="0 -21 1066 1066" fill="#1b6ec2" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M919.18876 705.055166a151.994888 151.994888 0 0 1-95.270756-33.260968L805.998335 657.484247a74.385963 74.385963 0 0 0-88.309158-3.738636l-43.703365 29.393413a38.752895 38.752895 0 0 1-43.058772-64.45924l43.703364-29.393413a151.350295 151.350295 0 0 1 179.84128 7.60619l17.919668 14.309951a75.030555 75.030555 0 0 0 89.08267 3.222962l43.961201-30.295842a38.688436 38.688436 0 1 1 43.961202 63.685729l-43.961202 30.295842a151.737051 151.737051 0 0 1-86.246463 26.943963zM919.18876 864.527325a151.994888 151.994888 0 0 1-95.270756-33.260968l-17.919669-14.309951a74.257044 74.257044 0 0 0-88.309158-3.738636l-43.574446 28.748821a38.752895 38.752895 0 0 1-43.058773-64.45924l43.703365-29.393413a151.350295 151.350295 0 0 1 179.841279 7.60619l17.919669 14.309951a75.030555 75.030555 0 0 0 89.082669 3.222962l43.961202-30.295842a38.688436 38.688436 0 1 1 43.961201 63.685729l-43.961201 30.295842a151.608132 151.608132 0 0 1-86.375382 27.588555zM919.18876 1023.999484a151.994888 151.994888 0 0 1-95.270756-33.260967l-17.919669-14.309952a74.257044 74.257044 0 0 0-88.309158-3.738636l-43.703365 29.393414a38.752895 38.752895 0 0 1-43.058772-64.45924l43.703364-29.393413a151.350295 151.350295 0 0 1 179.84128 7.60619l17.919668 14.309951a75.030555 75.030555 0 0 0 89.08267 3.222962l43.961201-30.295843a38.688436 38.688436 0 1 1 43.961202 63.685729l-43.961202 30.295843a151.608132 151.608132 0 0 1-86.246463 26.943962zM258.739389 907.457179a38.675544 38.675544 0 0 1-38.675544-38.675544 417.695874 417.695874 0 0 1 243.269171-380.051678l9.668886-4.383229-8.379701-6.574842a268.79503 268.79503 0 0 1-100.814251-210.394959C363.80795 119.894186 479.834582 0 621.644909 0c144.904371 0 257.836959 117.444735 257.83696 267.376927A268.408275 268.408275 0 0 1 722.201323 508.583402a208.847937 208.847937 0 0 0-53.243332 16.888321 239.788372 239.788372 0 0 1-38.675544 4.769984h-8.766456c-179.325605 0-325.132406 149.932192-325.132406 334.156699a39.577973 39.577973 0 0 1-37.644196 43.058773zM627.059485 81.347561c-98.3648 0-181.517219 85.215115-181.517219 186.029366a181.517219 181.517219 0 1 0 363.034439 0c-5.027821-104.423969-84.699441-186.029366-181.51722-186.029366zM38.675544 817.600998a38.675544 38.675544 0 0 1-38.675544-38.675544c0-140.134387 72.581104-263.509373 189.510165-322.296199l8.379701-4.25431-6.961597-6.317005a238.628106 238.628106 0 0 1-74.257045-174.813459c0-130.078746 95.78643-235.920818 213.489003-235.920818a38.675544 38.675544 0 0 1 0 77.351088c-75.546229 4.769984-136.653588 73.999207-136.653589 154.702176 0 84.183767 60.076012 150.06111 136.653589 150.06111a38.675544 38.675544 0 0 1 38.675544 38.675544 35.968256 35.968256 0 0 1-38.675544 38.675544c-139.747632 0-253.324813 123.761741-253.324813 275.756628 0.386755 27.97531-15.083462 47.055245-38.15987 47.055245zM258.739389 907.457179a38.675544 38.675544 0 0 1-38.675544-38.675544 417.695874 417.695874 0 0 1 243.269171-380.051678l9.668886-4.383229-8.379701-6.574842a268.79503 268.79503 0 0 1-100.814251-210.394959C363.80795 119.894186 479.834582 0 621.644909 0c144.904371 0 257.836959 117.444735 257.83696 267.376927A268.408275 268.408275 0 0 1 722.201323 508.583402a208.847937 208.847937 0 0 0-53.243332 16.888321 239.788372 239.788372 0 0 1-38.675544 4.769984h-8.766456c-179.325605 0-325.132406 149.932192-325.132406 334.156699a39.577973 39.577973 0 0 1-37.644196 43.058773zM627.059485 81.347561c-98.3648 0-181.517219 85.215115-181.517219 186.029366a181.517219 181.517219 0 1 0 363.034439 0c-5.027821-104.423969-84.699441-186.029366-181.51722-186.029366zM38.675544 817.600998a38.675544 38.675544 0 0 1-38.675544-38.675544c0-140.134387 72.581104-263.509373 189.510165-322.296199l8.379701-4.25431-6.961597-6.317005a238.628106 238.628106 0 0 1-74.257045-174.813459c0-130.078746 95.78643-235.920818 213.489003-235.920818a38.675544 38.675544 0 0 1 0 77.351088c-75.546229 4.769984-136.653588 73.999207-136.653589 154.702176 0 84.183767 60.076012 150.06111 136.653589 150.06111a38.675544 38.675544 0 0 1 38.675544 38.675544 35.968256 35.968256 0 0 1-38.675544 38.675544c-139.747632 0-253.324813 123.761741-253.324813 275.756628 0.386755 27.97531-15.083462 47.055245-38.15987 47.055245z" />
        </svg>
    </div>
    <div>
        <h2 style="color: #1b6ec2">Login</h2>
        <p>
            Don't have an account yet? Send an email to the Administrator
        </p>
        <EditForm Model="@Data" OnValidSubmit="ValidHandlerAsync">
            <FluentTextField Label="User Name"
                             Placeholder="Enter your User Name"
                             Size=40
                             Required
                             @bind-Value="@Data.Username" />
            <FluentTextField Label="Password"
                             Placeholder="Password"
                             TextFieldType="TextFieldType.Password"
                             Size=40
                             Required
                             @bind-Value="@Data.Password" />
            <div style="margin: 24px 0px;" />

            <FluentButton Appearance="Appearance.Accent"
                          Loading="@Loading"
                          IconStart="@(new Icons.Regular.Size20.Person())"
                          Disabled="@(!AcceptToLogin)"
                          Type="ButtonType.Submit">
                Login
            </FluentButton>
        </EditForm>
    </div>
</div>

@code {
    private UserLoginDTO Data = new();
    private bool AcceptToLogin = false;
    private bool Loading = false;

    [Inject]
    public required IAuthService _AuthService { get; set; }

    private async Task ValidHandlerAsync()
    {
        Loading = true;
        var resp = await _AuthService.LoginAsync(Data.Username, Data.Password);

        // Confirmation
        // await DialogService.ShowInfoAsync(message: "Your account has been successfully created", title: "New user");

        // await DialogService.ShowDialogAsync<AccountCreatedDialog>(new DialogParameters()
        // {
        //     Title = "New user",
        // });

        Loading = false;
    }
}