@page "/Contact"
@using Shared;
@using Microsoft.FluentUI.AspNetCore.Components;
@inject IToastService ToastService
@inject IMessageService MessageService

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>

<FluentMessageBar Title="@_titleBar" Visible="@_messageBarVisible" Intent="@_messageIntent">
    @_messageBar
</FluentMessageBar>
<FluentKeyCode OnKeyDown="@KeyDownHandler">
    <FluentToolbar>
        <FluentButton Title="Dismiss all filters" IconStart="@(new Icons.Regular.Size20.FilterDismiss())" Appearance="Appearance.Neutral"
                      OnClick="@OnFilterDismissClicked" Disabled=@_DisabledFilterDismiss />
        <FluentButton Title="Add" IconStart="@(new Icons.Regular.Size20.Add())" Appearance="Appearance.Neutral"
                      OnClick="@OnAddClicked" Disabled=@(_Contacts == null) />
        <FluentTextField @bind-Value=_EmailSearch Placeholder="Email" @oninput="OnEmailSearchChanged" Maxlength=15 Size=15 AutoComplete="off" Autofocus="true" />
        <FluentTextField @bind-Value=_CompanySearch Placeholder="Company" @oninput="OnCompanySearchChanged" Maxlength=10 Size=10 AutoComplete="off" />
        <FluentTextField @bind-Value=_FirstNameSearch Placeholder="FisrtName" @oninput="OnFirstNameSearchChanged" Maxlength=10 Size=10 AutoComplete="off" />
        <FluentTextField @bind-Value=_LastNameSearch Placeholder="LastName" @oninput="OnLastNameSearchChanged" Maxlength=10 Size=10 AutoComplete="off" />
        <FluentTextField @bind-Value=_PhoneSearch Placeholder="Phone" @oninput="OnPhoneSearchChanged" Maxlength=10 Size=10 AutoComplete="off" />
        <FluentButton Title="Search" IconStart="@(new Icons.Regular.Size20.DatabaseSearch())" Appearance="Appearance.Accent"
                      OnClick="@OnSearchClicked" Loading="@_SearchButtonLoading">Search</FluentButton>
        <FluentButton Title="Clear Search" IconStart="@(new Icons.Regular.Size20.SlideEraser())" Appearance="Appearance.Neutral"
                      OnClick="@OnClearSearchClicked"></FluentButton>
    </FluentToolbar>
</FluentKeyCode>
<FluentProgress Visible="@_ProgressVisible"></FluentProgress>

<FluentDataGrid @ref="_Grid" Id="ContactGrid" Items="@_FilteredItems" TGridItem=ContactDTO
                GridTemplateColumns="auto 1fr 1fr 1fr 1fr auto"
                ShowHover="true"
                RowSize="DataGridRowSize.Medium"
                Pagination="@_Pagination">
    <PropertyColumn Title="Id" Property="@(c => c!.Id)" Align="Align.Center" />
    <PropertyColumn Title="Email" Property="@(c => c!.Email)" Sortable="true" Filtered="!string.IsNullOrWhiteSpace(_EmailFilter)" Tooltip="true">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch Autofocus=true @bind-Value=_EmailFilter @oninput="HandleEmailFilter" @onkeydown="HandleCloseFilterAsync" @bind-Value:after="HandleClear" Placeholder="Filter Email" Style="width: 100%;" Label="Filter" />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Title="Company" Property="@(c => c!.Company)" Sortable="true" />
    <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" Filtered="!string.IsNullOrWhiteSpace(_NameFilter)" Tooltip="true">
        <ColumnOptions>
            <div class="search-box">
                <FluentSearch Autofocus=true @bind-Value=_NameFilter @oninput="HandleNameFilter" @onkeydown="HandleCloseFilterAsync" @bind-Value:after="HandleClear" Placeholder="Filter Name" Style="width: 100%;" Label="Filter" />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Title="Phone" Property="@(c => c!.Phone)" Sortable="true" />
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton Title="Details" IconEnd="@(new Icons.Regular.Size20.AppsListDetail())" OnClick="@(() => OnDetailsClicked(context))" />
        <FluentButton Title="Edit" IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(() => OnEditClicked(context))" />
        <FluentButton Title="Delete" IconEnd="@(new Icons.Regular.Size20.Delete().WithColor(Color.Error))" OnClick="@(() => OnDeleteClicked(context))" />
    </TemplateColumn>
</FluentDataGrid>
<FluentPaginator State="@_Pagination" />