@page "/TxskType"
@using Shared;
@using Microsoft.FluentUI.AspNetCore.Components;
@inject IToastService ToastService
@inject IMessageService MessageService

<PageTitle>Task Type</PageTitle>

<h1>Task Type</h1>

<FluentMessageBar Title="@_titleBar" Visible="@_messageBarVisible" Intent="@_messageIntent">
    @_messageBar
</FluentMessageBar>
<FluentToolbar>
    <FluentButton Title="Add" IconStart="@(new Icons.Regular.Size20.Add())" Appearance="Appearance.Neutral" OnClick="@OnAddClicked" Disabled=@(_TxskTypes == null) />
</FluentToolbar>
@if (_TxskTypes == null)
{
    <FluentProgress></FluentProgress>
}
else
{
    <FluentDataGrid Id="TxskTypeGrid" Items="@_TxskTypes" TGridItem=TxskTypeDTO
                    GridTemplateColumns="auto 1fr auto"
                    ShowHover="true"
                    RowSize="DataGridRowSize.Medium">
        <PropertyColumn Title="Id" Property="@(c => c!.Id)" Align="Align.Center" />
        <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" />
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton Title="Edit" IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(() => OnEditClicked(context))" />
            <FluentButton Title="Details" IconEnd="@(new Icons.Regular.Size20.AppsListDetail())" OnClick="@(() => OnDetailsClicked(context))" />
            <FluentButton Title="Delete" IconEnd="@(new Icons.Regular.Size20.Delete().WithColor(Color.Error))" OnClick="@(() => OnDeleteClicked(context))" />
        </TemplateColumn>
    </FluentDataGrid>
}